* {
  padding: 0;
  margin: 0;
}

body {
  background: #7ea7c0;
  font-family: " sans-serif";
}

.menu {
  width: 900px;
  margin: 0 auto;
}

header {
  background: #370135;
  width: 100%;
  clear: both;
  position: fixed;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 90px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: larger;
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #6c71a5;
  transition: 0.2s;
}

.main-content {
  display: flex;
  width: 100%;
  padding-bottom: 60px;
}

#contenedor-imagen {
  width: 50%;
  padding-left: 100px;
}

#imagen {
  width: 500px;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 8px #6c71a5;
  margin-top: 50px;
}

.texto {
  width: 50%;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: #370135;
  font-size: larger;
  justify-content: justify;
}

.texto h1 {
  font-size: 90px;
  color: aliceblue;
}

.Personajes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clase-personajes {
  padding: 50px;
}

.imagen-personaje {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 5px 5px 5px 5px #6c71a5;
  margin-bottom: 20px;
}
.texto-personaje {
  
  font-size: 25px;
  color: #370135 ;
  text-align: center;
  border:#6c71a5 solid;
}
.texto-central {
 
  font-size: 18px;
  color: #370135 ;
  justify-content: justify;
 
}



.personajes {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: #370135;
}

.Escenas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-escenas {
  width: 50%;
  display: flex;
  padding: 20px;
}

.Clase-descripcion {
  width: 50%;
 
}

.imagen-escenas {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px #6c71a5;
}

.escenas {
  text-align: center;
  color:#370135;
  font-size: 30px;
 
}

.tablas-temporadas {
  width: 500px;
  padding-left: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.tabla{
  background-color:#6c71a5;
  width:150%
  
}

.tabla td,th {
  border: 2px solid #370135;
}

.tabla th{
  margin: 40px;
}

.tabla td{
  text-align: center;
}
